body{
    background: #BDBDBD;
}

.navFontColor{
    color: gray;
}

.bgImg{
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

.taglineBG{
    background-color: rgb(255, 255, 255, 0.9);
}

.mainTitle{
    font-size: 6em;
}

.subTitle{
    font-size: 3em;
}

.marginMT{
    margin-left: 5px;
    margin-right: 5px;
}